# Tuple

In [1]:
t1 = (4, 5, 20, 6, 88, 19)

In [2]:
t1

(4, 5, 20, 6, 88, 19)

In [3]:
t2 = ("malang", "jogja", "surabaya")
t3 = ('sulawesi', 'jatim', 'jabar')
t4 = t2, t3

In [4]:
t4

(('malang', 'jogja', 'surabaya'), ('sulawesi', 'jatim', 'jabar'))

# List

In [21]:
l1 = [3, 6, 10]

In [22]:
l1

[3, 6, 10]

# Set

In [52]:
s1 = {1, 2, 3, 4, 5, 5, 6, 7, 7, 8}

In [61]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

# Konversi antar structure

In [34]:
t1 = (4, 7, 10, 10, 12, 14, 14)

In [37]:
#ts1 = tuple to set
ts1 = list(set(t1))
ts1

[4, 7, 10, 12, 14]

# Dict

In [39]:
d1 = {
    "nama" : "komang",
    "smt" : "7",
    "alamat" : "malang"
}

In [40]:
d1

{'nama': 'komang', 'smt': '7', 'alamat': 'malang'}

In [46]:
ds1 = list(d1)
ds1

['nama', 'smt', 'alamat']

# DataFrame

In [89]:
# import package pandas
import pandas as pd

In [90]:
url = 'https://raw.githubusercontent.com/arofiqimaulana/Course-Python-For-Data-Analysis/762d8c9c29ec0d12251c0268bd85f3c6c0b3ae24/Section%203%20(Data%20Cleaning)/diabetes.csv'
df = pd.read_csv(url)

In [91]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

#cara ambil kolom
- cara pertama = ['nama_kolom']
- cara kedia = .nama_kolom

In [92]:
# cara ambil kolom (cara pertama)
df.Glucose

0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64

In [93]:
# cara ambil kolom (cara kedua)
df['Pregnancies']

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: int64

In [94]:
# cara ambil data dari lebih dari 1 kolom
kolom = ['Pregnancies', 'Glucose', 'Insulin']

In [97]:
df1 = df[kolom]

In [108]:
# pengkondisian (where)
df1[(df1.Insulin>=50) & (df1.Glucose<100)]
#df1[(df1 ['Insulin']>=50) & (df1 ['Glucose']<100)]

     Pregnancies  Glucose  Insulin
3              1       89       94
6              3       78       88
27             1       97      140
32             3       88       54
82             7       83       71
..           ...      ...      ...
668            6       98      190
682            0       95      105
709            2       93      160
738            2       99      160
747            1       81       57

[73 rows x 3 columns]

In [109]:
# pengkondisian (where)
df1[(df1.Insulin>=50) | (df1.Glucose<100)]
#df1[(df1 ['Insulin']>=50) | (df1 ['Glucose']<100)]

     Pregnancies  Glucose  Insulin
1              1       85        0
3              1       89       94
4              0      137      168
6              3       78       88
8              2      197      543
..           ...      ...      ...
760            2       88       16
762            9       89        0
763           10      101      180
765            5      121      112
767            1       93        0

[481 rows x 3 columns]

# cara ambil baris (row)
- bisa pakai .loc
- bisa pakai .iloc

In [110]:
# cara ambil data dari lebih dari 1 kolom
kolom = ['Pregnancies', 'Glucose', 'Insulin']
df2 = df[kolom]

In [114]:
#filter baris
df2.loc[0:4]

   Pregnancies  Glucose  Insulin
0            6      148        0
1            1       85        0
2            8      183        0
3            1       89       94
4            0      137      168

In [113]:
#filer baris
df2.iloc[0:4]

   Pregnancies  Glucose  Insulin
0            6      148        0
1            1       85        0
2            8      183        0
3            1       89       94

In [131]:
# filter baris & kolom
# menggunakan iloc
df2.iloc[0:2, 0:2]

# menggunakan loc
#df2.loc[0:2, ['Pregnancies', 'Insulin']]

   Pregnancies  Insulin
0            6        0
1            1        0
2            8        0